<a href="https://colab.research.google.com/github/HoangCuong0811/github-demo-hoangcuong/blob/master/Pandas_Assignment6_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = {
    'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp' : [45, 39, 44, 45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug'],
}
pokemon = pd.DataFrame(data, columns = ['name', 'type', 'hp', 'evolution', 'pokedex'])
place = ["Hanoi", 'HCM', 'HoiAn', 'NhaTrang']
pokemon['place'] = place
pokemon

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes     Hanoi
1  Charmander   fire  39  Charmeleon      no       HCM
2    Squirtle  water  44   Wartortle     yes     HoiAn
3    Caterpie    bug  45     Metapod      no  NhaTrang

In [ ]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [ ]:
val = pokemon["hp"].values[2]
val

44

In [ ]:
#Bonus: lay gia tri hp cua Charmander
pokemon.loc[1,:].values[2]

39